#selected {
	max-height: 500px;
	overflow-x: auto;
}
#pool {
	max-height: 550px;
	overflow-x: auto;
}
.panel-title {
	font-weight: bold;
	color: #4a148c;
	font-size: 18px;
}
.main {
	border: 1.5px solid #01579b;
	position: relative;
	min-height: 110px;
	background: #b2ebf2;
	margin: 0.5em;
}
.main:hover {
	border: 1.5px solid #01579b;
	background: #80deea;
}
.name-subject {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: bold;
	font-size: 12px;
}
.quota-state {
	float: left;
	margin-left: 3.5%;
	margin-top: 7%;
	font-style: italic;
	position: absolute;
	bottom: 5px;
	left: 1px;
}
.credits {
	background: #4db6ac;
	float: right;
	border: 1px solid gray;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 2.3%;
	font-weight: bold;
	font-style: italic;
	position: absolute;
	bottom: 5px;
	right: 5px
}
.credits:hover {
	border: 1px solid #009688;
	background: #b2dfdb;
}
.loading {

}
